.makeup-card:hover {
    background-color: lightgray;
    transition: 0.3s;
}

.makeup-card {
    cursor: pointer;
    width: 300px;
    max-width: 400px;
    padding: 20px;
}

mat-card {
    border-radius: 10px;
}

img {
    max-height: 250px;
}