/* .buttons {
    margin-top: 15px;
}

.buttons > button {
    margin-right: 5px;
}

h4 {
    font-weight: 500;
}

.details-container {
    display: flex;
}

.details-item {
    width: 100%;
} */

.delete{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.delete-question{
    padding-top: 10px;
    margin-right: 10px;
}