<div *ngIf="makeup">
    <h1>{{ makeup.productname }}</h1>
    <div class="ui divider"></div>
    <div class="ui grid">
    <div class="four wide column">
        <h4>Brand</h4>
        {{ makeup.brandname }}
      </div>
      <div class="four wide column">
        <h4>Category</h4>
        {{ makeup.category }}
      </div>
      <div class="four wide column">
        <h4>Opened</h4>
        {{ openedDisplayString }}
      </div>
      <div class="four wide column">
        <h4>Durability</h4>
          {{ makeup.durability }}  months
      </div>
    </div>
    <div class="buttons">
      <button mat-raised-button color="primary" (click)="toggleEditMode(true)">
        Edit
      </button>
      <button mat-flat-button color="warn" (click)="deleteOne(makeup)">
        Delete
      </button>
    </div>
    <ae-makeup-form [makeup]="makeup" *ngIf="editMode" (updateEvent)="update($event)"></ae-makeup-form>
</div>
