<div id="app">
  <mat-toolbar color="primary" class="toolbar">
    <img src="/assets/icons/kiss72.png" alt="mymakeupkitlogo">
    <div class="navigation">
      <a routerLink="/home" routerLinkActive="active" class="item">
        <button mat-button>Home</button>
      </a>
      <a *ngIf="isLoggedInStatus" routerLink="/makeup" routerLinkActive="active" class="item">
        <button mat-button>MakeUp</button>
      </a>
      <a *ngIf="isLoggedInStatus" routerLink="/create" routerLinkActive="active" class="item">
        <button mat-button>Add Item</button>
      </a>
      <a *ngIf="isLoggedInStatus" routerLink="/login" routerLinkActive="active" class="item">
        <button mat-button>Logout</button>
      </a>
    </div>
    <div class="search">
      <!-- <mat-icon>search</mat-icon> -->
      <input *ngIf="isLoggedInStatus" matInput class="search-bar" type="text" placeholder="Search" (input)="handleSearchInputChangeEvent($event)">
    </div>
    <mat-slide-toggle *ngIf="isLoggedInStatus" (change)="handleNotificationToggleChange($event)" class="notifications-toggle">Notifications</mat-slide-toggle>
  </mat-toolbar>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>