/* #app {
  width: 1000px;
  height: 100vh;
  margin: 0 auto;
  background-color: rgb(250, 245, 242);
}

.main-content {
  position: relative;
  padding-top: 30px;
  width: 95%;
  margin: 0 auto;
} */

.item {
  color: white;
}
