#app {
  height: 100%;
  width: 100%;
  /* margin: 0 auto; */
}

.main-content {
  position: relative;
  padding-top: 30px;
  width: 95%;
  margin: 0 auto;
}

.item {
  color: white;
}

.notifications-toggle {
  margin-left: auto;
  margin-right: 16px;
  font-size: 16px;
}

.search {
  flex-grow: 2;
}

.search > input {
  outline: none;
  border: none;
  background-color: #bfaedc;
  border-radius: 30px;
  width: 90%;
  line-height: 32px;
  padding-right: 8px;
  padding-left: 10px;
}