.search {
  float: right;
  position: relative;
  margin: 20px;
  display: flex;
}

.makeup-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 15px;
}

.add-icon {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
}

.add-icon:hover {
    background-color: #bfaedc;
}