.search-bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    margin-top: 20px;
}

.makeup-list {
    margin-top: 20px;
}

.makeup-list > .add-icon {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    font-size: 32px;
    color: #673ab7;
    cursor: pointer;
}