.search {
  float: right;
  position: relative;
  margin: 20px;
  display: flex;
}

.makeup-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.add-icon {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  cursor: pointer;
}
