.makeup-form {
  border: #673ab7 2px solid;
  border-radius: 10px;
  margin: 30px;
  padding: 10px;
  margin-top: 30px;
  text-align: center;
  background-color: white;
}

.makeup-form-buttons {
  display: flex;
}

.mat-raised-button{
margin: 5px;
}

.update-button{
    justify-content: center;
}

.col-form-label {
  font-weight: 500;
}

